autostart
btop
cava
dconf
discord
Electron
gh
go
goverlay
MangoHud
mozilla
mpv
pulse
systemd
vkBasalt
yay
user-dirs.dirs
user-dirs.locale
gtk-3.0
gtk-4.0
pavucontrol.ini
QtProject.conf
mimeapps.list
.dmenurc

fish/fish_variables
fish/history
fish/completions
fish/conf.d
fish/functions
